* {
    box-sizing: border-box;
    user-select: none;
}

html {
    background-image: linear-gradient(rgb(15, 129, 173), rgb(255, 208, 0));
    background-attachment: fixed;
    font-family: 'Slabo 27px', serif;
}

body {
    background-color: transparent;
}

div {
    margin: 0 auto;
    margin-top: 1%;
}

p {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
}

i {
    font-size: 3rem;
}

.main_item, .carousel-inner {
    height: 95vh;
}

.indicator {
    display: block;
}

.no_indicator {
    display: none;
}

#zip_input_div {
    width: 50%;
    margin-top: 15%;
    text-align: center;
}

#zip_input_div__input {
    background-color:rgba(238, 236, 236, 0) !important;
    border:none !important;
    border: 5px solid white !important;
    border-radius: 5px !important;
    padding: 10%;
    font-size: 1.05rem;
    text-align: center;
    margin-top: 5%;
}

#zip_input_button, #refresh_button {
    margin-top: 5%;
    font-size: 1.05rem;
    background-color: rgba(0, 0, 0, 0.445);
}

input::-webkit-input-placeholder {
    color: white !important;
}
 
input:-moz-placeholder {
    color: white !important;  
}
 
input::-moz-placeholder {
    color: white !important;  
}
 
input:-ms-input-placeholder {  
    color: white !important;  
}

/* @media only screen and (max-width: 800px) {
    html {
        background-image: none;
        background-color: black;
    }
}

@media only screen and (min-width: 800px) {

} */